<h1>Welcome#index</h1>

Log in: <%= link_to "/sessions/connect", "/sessions/connect" %><br/><br/>

Home page: <%= link_to "/welcome/home" , "/welcome/home" %><br/><br/>

Meekwire: <%= link_to "meekwire", "/welcome/meekwire"  %><br/><br/>

Log out: <%= link_to "/sessions/signout", "/sessions/signout" %>
